body{
    max-width: 900px;
    max-height:1000px;
}

button{
    position:relative;
    
}

#play1 {
    position:absolute;
    transition: .5s ease;
    top: 50%;
    left: 50%;
    display:inline;
}