
button{
    position:absolute;
    
}
div{
    position:absolute;
}
.playbutton {
   position:absolute;
  }
#play1 {
    position:absolute;
    transition: .5s ease;
    top: 50%;
    left: 50%;
    display:inline;
}
#play2 {
    position:absolute;
    transition: .5s ease;
    top: 50%;
    left: 50%;
    display:inline;
}